<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{title}}</title>
  </head>
  <style>
    body {
      display: flex;
      min-height: 100vh;
      justify-content: center;
      align-items: center;
    }
    .main {
      display: flex;
      flex-direction: column;
      align-items: center;
    
    }
    .button {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 8px 100px;
      margin: 12px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      vertical-align: middle;
    }

    h1 {
      font-size: 60pt;
    }
    p {
      font-size: 32pt;
    }
  </style>

  <body>
    <script type="text/javascript" src="script.js"></script>
    
    <div class="main">
      <h1>Langbiang</h1>
      <a href="" class="button" id="download_app"><p>Tải ứng dụng</p></a>
      <a href="" class="button" id="open_app"><p>Mở ứng dụng</p></a>
    </div>
    <script type="text/javascript">
      var options = {
        fallback: '{{fallback}}',
        url: '{{url}}',
        ios_store_link: '{{ios_store_link}}',
        android_package_name: '{{android_package_name}}',
      };
      deepLink(options);
    </script>
  </body>
</html>
